<%= form_for(@content_block) do |f| %>
  <% if @content_block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content_block.errors.count, "error") %> prohibited this content_block from being saved:</h2>

      <ul>
      <% @content_block.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :headline %><br>
    <%= f.text_field :headline %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
