<div class="hero">
	<div class="container">
		<a href="" class="logo">
			<span class="icon icon-weandco"></span>
			Brought to you by We&Co
		</a>
		<h1>
			How to open a restaurant
			<small>Step-by step-instructions and advice from leading restaurateurs</small>
		</h1>
		<div class="darken"></div>
	</div>
</div>

<div class="email">
	<div class="container">
		<div class="icon icon-mail"></div>
		<p>Subscribe to get updated content on running a successful restaurant from top restaurateurs & chefs</p>
	    <div class="input-group">
			<input type="text" class="form-control">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">Subscribe</button>
			</span>
		</div>
	</div>
</div>

<div class="pitch container">
	<h2>You have likely spent quite a bit of time fantasizing about your dream place, and you probably even have a name in mind too, but now its time to get down to the nitty-gritty business of opening your restaurant. Check out our ten-step guide to help get you started.</h2>
</div>

<div class="steps container">
	<% @content_blocks.each do |content| %>
	
		<div class="step">
			<div class="image">
			</div>
			<div class="info">


				<h2><%= content.headline %></h2>
				<p class="description"><%= truncate(content.content, :length => 180) %></p>
				<div class="links">
					<a href="" class="link" data-toggle="modal" data-target="#modal-<%= content.id %>">More info</a>
					<a href="" class="link" data-toggle="modal" data-target="#modal-<%= content.id %>">Tools</a>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="modal-<%= content.id %>" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h3 class="modal-title" id="myModalLabel"><%= content.headline %></h3>
		      </div>
		      <div class="modal-body">
		      	<div class="row">
		      		<div class="col-sm-8">
			      		<div class="story">
				        	<p><%= content.content %></p>
				        </div>
		      		</div>
		      		<div class="col-sm-4">
		      			<div class="tools">
		      				<h4>Tools</h4>
							<% content.tools.each do |tool| %>
								<a href="<%= tool.url %>"><%= tool.name %></a>
							<% end %>
		      			</div>
		      		</div>
		      	</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>

	<% end %>
</div>

